@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
/* ------ */
/* VARIABLES */
/* ------ */
:root{
    --bellefair: 'Bellefair', serif;
    --barlow: 'Barlow', sans-serif;
    --barlow-condensed:'Barlow Condensed', sans-serif;
}
:root{
    --dark: #0c0e18;
    --light: #d2d8f9;
    --white:#ffffff;
}
/* ------ */
/* GENERAL */
/* ------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.1rem;
    font-family: var(--barlow);
    background-color: var(--dark);
    color: var(--white);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* ------ */
/* NAVBAR */
/* ------ */
.navbarContainer{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    z-index: 100;
}
.navbarLeft{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.logoContainer{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.logoContainer:hover{
    transform: scale(1.1);
}
.navbarLine{
    height: 1px;
    width: 100%;
    background-color: var(--white);
    opacity: 0.2;
    margin-left: 40px;
}
.navbarRight{
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    flex: 1;
    padding: 0 60px;
    /* background-color: rgba(255, 255, 255, 0.059); */
    background-color: rgba(102, 102, 102, 0.171);
    backdrop-filter: blur(16px) ;

}
.navbarRight li{
    color: var(--white);
    margin-right: 30px;
    padding: 35px 0;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease;
}
.navbarRight li:hover{
    border-color: rgb(126, 126, 126);
}
.navbarLinkNumber{
    margin-right: 12px;
    font-weight: bold;
}
.activeLink{
    border-color: var(--white) !important;
    
}
/* ------ */
/* HOME */
/* ------ */
.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
.homeMain{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    width: 80%;
    max-width: 1920px;
}
.homeMainLeft{
    flex: 1;
}
.innerLeftContainer{
    width:550px;
}
.homeMainLeft h2{
    text-transform: uppercase;
    font-weight: 400;
    color: var(--light);
    margin-left: 10px;
}
.homeMainLeft h1{
    font-family: var(--bellefair);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9rem;
    margin: 30px 0;
}
.homeMainLeft p{
    color: var(--light);
    width: 80%;
    margin-left: 10px;
    line-height: 30px;

}
.homeMainRight{
    flex:1 ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.outerCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(193, 190, 190, 0.171);
    background-color: transparent;
    backdrop-filter: blur(1px) ;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.outerCircle:hover{
    background-color: rgba(193, 190, 190, 0.171);
}
.innerCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.circleText{
    font-size: 2rem;
    font-family: var(--bellefair);
    text-transform: uppercase;
    color: var(--dark);
    
}
/* ------ */
/* DESTINATION */
/* ------ */
.destinationContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
/* DESTINATION COMPONENT */
.destinationComponentContainer{
    position: relative;
    display: flex;
    margin-top: 100px;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 80%;
    max-width: 1920px;
    padding: 100px 0;
    
}
.destinationComponentContainerLeft{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    animation: fadeIn 0.2s ease;

}
.destinationComponentContainerLeft img{
    width: 100%;
    max-width: 550px;
    animation: fadeIn 1.5s ease;

}
.destinationComponentContainerRight{
flex: 1;
display: flex;
/* justify-content: center; */
/* align-items: flex-start; */
align-items: center;
text-align: left;
flex-direction: column;
}
.innerRightDestinationComponent{
    /* background-color: royalblue; */
    margin-left: 40px;
    padding: 20px;
    min-height: 600px;
}
.destinationTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 7rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.destinationText{
    color: var(--light);
    line-height: 30px;
    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;
    max-width: 80%;
}
.destinationLine{
    height: 1px;
    width: 100%;
    margin: 40px 0;
    background-color: #ffffff33  ;
    /* opacity: 0.1; */
    animation: fadeIn 0.2s ease;
    max-width: 80%;


}
.destinationInfoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: fadeIn 0.2s ease;

}
.destinationDistanceContainer{
    flex:1;
}
.destinationTravelTimeContainer{
    flex: 1;
}
.destinationDistanceText, .destinationTravelTimeText{
    color: var(--light);
    text-transform: uppercase;
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    margin-bottom: 20px;
}
.destinationDistanceNumber,.destinationTravelTimeNumber{
    font-family: var(--bellefair);
    text-transform: uppercase;
    font-size: 2rem;
}
/* DESTINATION SELECT */
.destinationSelectContainer{
    display: flex;
}
.destinationSelectContainer .destination{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    margin-right: 25px;
    color: var(--light);
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
.destinationSelectContainer .destination:hover{
    border-color:rgb(126, 126, 126) ;
}
.activeDestination{
    color: var(--white) !important;
    border-color:var(--white) !important;
}
/* ------ */
/* CREW */
/* ------ */
.crewContainer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
/* CREW COMPONENT */
.crewComponentContainer{
    /* border: 1px solid salmon; */
    position: relative;
    display: flex;
    margin-top: 100px;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 80%;
    height: 100%;
    max-width: 1920px;
    padding: 100px 0;
    padding-bottom: 0;
    margin-top: 300px;
}
.crewComponentContainerRight{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: fadeIn 0.2s ease;

}
.crewComponentContainerRight img{
    width: 100%;
    min-width: 660px;
    max-width: 700px;
    /* max-width: 500px; */
    animation: fadeIn 1.5s ease;

}
.crewComponentContainerLeft{
flex: 1;
display: flex;
/* justify-content: center; */
/* align-items: flex-start; */
align-items: center;
text-align: left;
flex-direction: column;
}
.innerLeftCrewComponent{
    /* background-color: royalblue; */
    margin-left: 0px;
    padding: 20px;
    padding-left: 0;
    min-height: 600px;
}
.crewSubTitle{
    font-size:2rem;
    font-family: var(--bellefair);
    /* letter-spacing: 4.7px; */
    text-transform: uppercase;
    font-weight: 400;
    color: #999;
}
.crewTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.crewText{
    color: var(--light);
    line-height: 30px;
    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;
    max-width: 80%;
}
/* ------ */
/* TECHNOLOGY */
/* ------ */
.technologyContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
.technologyComponentContainer{
    position: relative;
    display: flex;
    margin-top: 100px;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 90%;
    max-width: 1920px;
    padding: 120px 0;
    min-height: 800px;
}
.technologyComponentLeft{
    flex: 1;
    margin-right: 50px;
}
.innerTechnologyComponentLeft{
    width: 80%;
    /* max-width: 500px; */
    margin-left: 20%;
}
.technologySubTitle{
    font-size: 1.2rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 4.7px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--light);
}
.threeDots{
    letter-spacing: 1.7px;
}
.technologyTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.technologyText{
    max-width: 500px;
    color: var(--light);
    line-height: 30px;
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;

}
.technologyComponentRight{
    flex: 1;
    max-width: 600px;
}
.technologyComponentRight img{
    width: 100%;
}
/* TECHNOLOGY SELECT */
.technologySelectContainer{
}
.selectCircle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid #ffffff33;
    font-size: 2.4rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bellefair);
    cursor: pointer;
    transition: border-color 0.2s ease;
}
.selectCircle:hover{
    border-color: var(--white);
}
.activeCircle{
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--white);
}
/* PAGE TITLE */
.pageTitleContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 4.7px;
}
.pageTitleContainer .pageNumber{
    font-weight: bold;
    margin-right: 30px;
    opacity: 0.5;
}

/* ------ */
/* KEYFRAMES */
/* ------ */
@keyframes fadeIn {
    from{
        opacity:0
    }
    to{
        opacity: 1;
    }
}
