@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
/* ------ */
/* VARIABLES */
/* ------ */
:root{
    --bellefair: 'Bellefair', serif;
    --barlow: 'Barlow', sans-serif;
    --barlow-condensed:'Barlow Condensed', sans-serif;
}
:root{
    --dark: #0c0e18;
    --light: #d2d8f9;
    --white:#ffffff;
}
/* ------ */
/* GENERAL */
/* ------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.1rem;
    font-family: var(--barlow);
    background-color: var(--dark);
    color: var(--white);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* ------ */
/* NAVBAR */
/* ------ */
.hamburgerContainer{
    display: none;
}
.navbarContainer{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    z-index: 100;
}
.navbarLeft{
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.logoContainer{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.logoContainer:hover{
    transform: scale(1.1);
}
.navbarLine{
    height: 1px;
    width: 100%;
    background-color: var(--white);
    opacity: 0.2;
    margin-left: 40px;
}
.navbarRight{
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    flex: 1;
    padding: 0 60px;
    /* background-color: rgba(255, 255, 255, 0.059); */
    background-color: rgba(102, 102, 102, 0.171);
    backdrop-filter: blur(16px) ;

}
.navbarRight li{
    color: var(--white);
    margin-right: 30px;
    padding: 35px 0;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease;
}
.navbarRight li:hover{
    border-color: rgb(126, 126, 126);
}
.navbarLinkNumber{
    margin-right: 12px;
    font-weight: bold;
}
.activeLink{
    border-color: var(--white) !important;
    
}
/* ------ */
/* SLIDING MENU */
/* ------ */
.slidingMenuContainer{
    display: none;
}
/* ------ */
/* HOME */
/* ------ */
.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
.homeMain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
    width: 80%;
    max-width: 1920px;
}
.homeMainLeft{
    flex: 1;
}
.innerLeftContainer{
    width:550px;
}
.homeMainLeft h2{
    text-transform: uppercase;
    font-weight: 400;
    color: var(--light);
    margin-left: 10px;
}
.homeMainLeft h1{
    font-family: var(--bellefair);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9rem;
    margin: 30px 0;
}
.homeMainLeft p{
    color: var(--light);
    width: 80%;
    margin-left: 10px;
    line-height: 30px;
}
.homeMainRight{
    flex:1 ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.outerCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(193, 190, 190, 0.171);
    background-color: transparent;
    backdrop-filter: blur(1px) ;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.outerCircle:hover{
    background-color: rgba(193, 190, 190, 0.171);
}
.innerCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.circleText{
    font-size: 2rem;
    font-family: var(--bellefair);
    text-transform: uppercase;
    color: var(--dark);
    
}
/* ------ */
/* DESTINATION */
/* ------ */
.destinationContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
/* DESTINATION COMPONENT */
.destinationComponentContainer{
    position: relative;
    display: flex;
    /* margin-top: 100px; */
    align-items: center;
    /* border: 1px solid salmon; */
    width: 80%;
    max-width: 1920px;
    padding: 100px 0;
display: none;    
}
.destinationComponentContainerLeft{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    animation: fadeIn 0.2s ease;

}
.destinationComponentContainerLeft img{
    width: 100%;
    max-width: 550px;
    min-width: 300px;
    animation: fadeIn 1.5s ease;
}
.destinationComponentContainerRight{
flex: 1;
display: flex;
/* justify-content: center; */
/* align-items: flex-start; */
align-items: center;
text-align: left;
flex-direction: column;
}
.innerRightDestinationComponent{
    /* background-color: royalblue; */
    margin-left: 40px;
    padding: 20px;
    min-height: 600px;
}
.destinationTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 7rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.destinationText{
    color: var(--light);
    line-height: 30px;
    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;
    max-width: 80%;
}
.destinationLine{
    height: 1px;
    width: 100%;
    margin: 40px 0;
    background-color: #ffffff33  ;
    /* opacity: 0.1; */
    animation: fadeIn 0.2s ease;
    max-width: 80%;
}
.destinationInfoContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: fadeIn 0.2s ease;

}
.destinationDistanceContainer{
    flex:1;
}
.destinationTravelTimeContainer{
    flex: 1;
}
.destinationDistanceText, .destinationTravelTimeText{
    color: var(--light);
    text-transform: uppercase;
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    margin-bottom: 20px;
}
.destinationDistanceNumber,.destinationTravelTimeNumber{
    font-family: var(--bellefair);
    text-transform: uppercase;
    font-size: 2rem;
}
/* DESTINATION SELECT */
.destinationSelectContainer{
    display: flex;
}
.destinationSelectContainer .destination{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 2.7px;
    margin-right: 25px;
    color: var(--light);
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
.destinationSelectContainer .destination:hover{
    border-color:rgb(126, 126, 126) ;
}
.activeDestination{
    color: var(--white) !important;
    border-color:var(--white) !important;
}
.mbare{
    height: 200px;
    width: 200px;
    background-color: #d2d8f9;
    color: #0c0e18;
}
/* ------ */
/* CREW */
/* ------ */
.crewContainer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
    
}
/* CREW COMPONENT */
.crewComponentContainer{
    /* border: 1px solid salmon; */
    position: relative;
    display: flex;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 80%;
    height: 80%;
    max-width: 1920px;
    padding: 100px 0;
    padding-bottom: 0;
    margin-top: 300px;
}
.crewComponentContainerRight{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: fadeIn 0.2s ease;
    margin-top: auto;
}
.crewComponentContainerRight img{
    width: 100%;
    min-width: 660px;
    max-width: 700px;
    /* max-width: 500px; */
    animation: fadeIn 1.5s ease;
}
.crewComponentContainerLeft{
flex: 1;
display: flex;
/* justify-content: center; */
/* align-items: flex-start; */
align-items: center;
text-align: left;
flex-direction: column;
}
.innerLeftCrewComponent{
    /* background-color: royalblue; */
    margin-left: 0px;
    padding: 20px;
    padding-left: 0;
    min-height: 600px;
}
.crewSubTitle{
    font-size:2rem;
    font-family: var(--bellefair);
    /* letter-spacing: 4.7px; */
    text-transform: uppercase;
    font-weight: 400;
    color: #999;
}
.crewTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.crewText{
    color: var(--light);
    line-height: 30px;
    /* font-size: 1.1rem; */
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;
    max-width: 80%;
}
/* ------ */
/* TECHNOLOGY */
/* ------ */
.technologyContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100vh;
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 0.2s ease;
}
.technologyComponentContainer{
    position: relative;
    display: flex;
    margin-top: 100px;
    align-items: center;
    /* border: 1px solid salmon; */
    width: 90%;
    max-width: 1920px;
    padding: 120px 0;
    min-height: 800px;
    display: none;
}
.technologyComponentLeft{
    flex: 1;
    margin-right: 50px;
}
.innerTechnologyComponentLeft{
    width: 80%;
    /* max-width: 500px; */
    margin-left: 20%;
}
.technologySubTitle{
    font-size: 1.2rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 4.7px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--light);
}
.threeDots{
    letter-spacing: 1.7px;
}
.technologyTitle{
    font-family: var(--bellefair);
    font-weight: 400;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 40px 0;
    animation: fadeIn 0.2s ease;
}
.technologyText{
    max-width: 500px;
    color: var(--light);
    line-height: 30px;
    letter-spacing: 1px;
    animation: fadeIn 0.2s ease;

}
.technologyComponentRight{
    flex: 1;
    max-width: 600px;
}
.technologyComponentRight img{
    width: 101%;
    height: 100%;
}
/* TECHNOLOGY SELECT */
.technologySelectContainer{
}
.selectCircle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid #ffffff33;
    font-size: 2.4rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bellefair);
    cursor: pointer;
    transition: border-color 0.2s ease;
}
.selectCircle:hover{
    border-color: var(--white);
}
.activeCircle{
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--white);
}
/* PAGE TITLE */
.pageTitleContainer{
    position: absolute;
    top: 180px;
    left: 50px;
    display: flex;
    /* display: block; */
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: var(--barlow-condensed);
    letter-spacing: 4.7px;
    margin-right: auto;
    padding-left: 50px;
    min-height: 0px;
    z-index: 2;
    /* margin-top: 380px; */
}
.pageTitleContainer .pageNumber{
    font-weight: bold;
    margin-right: 30px;
    opacity: 0.5;
}

/* ------ */
/* SWIPER */
/* ------ */
.swiper {
    width: 100%;
    height: 100%;    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination{
    width: 50% !important;
    margin-bottom: 50px;
  /* text-align: left !important; */
}
.swiper-pagination-bullet{
    height: 18px !important;
    width: 18px !important;
    background-color: white !important;
    margin-right: 18px !important;
}
/* ACTIVE CLASS */
.active{
    display: flex;
}
/* ------ */
/* KEYFRAMES */
/* ------ */
@keyframes fadeIn {
    from{
        opacity:0
    }
    to{
        opacity: 1;
    }
}
@keyframes slideIn {
    from{
        transform:translateX(3000)
    }
    to{
        transform:translateX(0)
    }
}
/* ------ */
/* MEDIA QUERIES */
/* ------ */
@media (max-width:1100px){
/* home */
.homeContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(./assets/home/background-home-tablet.jpg);
}
.homeMain{
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 100px;
}
.homeMainLeft h2{
    margin-left: 0px;
}
.homeMainLeft p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.homeMainLeft{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.homeMainRight{
    align-items: center;
}
/* crew */
.crewContainer{
    background-image: url(./assets/crew/background-crew-tablet.jpg);
}
.crewComponentContainer{
    flex-direction: column;
    display: block;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 500px;
    /* overflow: scroll; */
}
.crewComponentContainerRight{
    padding-top: 40px;
    margin-top: auto !important;
}
.crewComponentContainerRight img{
    min-width: 150px;
    max-width: 500px;
}
.crewComponentContainerLeft{
    text-align: center;
}
.innerLeftCrewComponent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 0;
}
.crewTitle{
    font-size: 3rem;
    margin: 20px 0;
}
.crewText{
    margin: 0 auto;
    width: 70%;
}
/* swiper */
.swiper-pagination{
    display: block !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    bottom: 42% !important;
}
.swiper-pagination-bullet{
    height: 12px !important;
    width: 12px !important;
    margin-right: 18px !important;
}
}
@media (max-width:900px){
    /* page title */
.pageTitleContainer{
    left: 10px;
}
    /* destination select */
.destinationSelectContainer{
    justify-content: center;
    margin-top: 25px ;
    margin-bottom: 50px;
}
    /* destination */
.destinationContainer{
    height: 100%;
    background-image: url(./assets/destination/background-destination-tablet.jpg);
}
.destinationComponentContainer{
    flex-direction: column;
    height: 100vh;
    margin-top: 200px;
}
.destinationComponentContainerLeft img{
    max-width: 300px;
}
.destinationComponentContainerRight{
    text-align: center;
}
.innerRightDestinationComponent{
    margin: 0;
}
.destinationText,.destinationLine{
    max-width: 100%;
}
    /* technology */
.technologyContainer{
    height: 100%;
    background-image: url(./assets/technology/background-technology-tablet.jpg);
}
.technologyComponentContainer{
    flex-direction: column;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
}
.technologyComponentContainer :nth-child(3) { 
    order: -1; 
}
.technologyComponentLeft{
    margin: 0;
}
.innerTechnologyComponentLeft{
    width: 100%;
    margin: 0;
}
.technologyText{
    margin: auto;
    padding: 0;
    max-width: 80%;
}
.technologyComponentRight{
    width: 100%;
    max-width: none;
}
.technologyComponentRight img{
    
    object-fit: cover;
}
    /* technology select */
.technologySelectContainer{
    display: flex;
    margin: 40px 0;
}
.technologySelectContainer :nth-child(3) { 
    order: 1; 
}
.selectCircle{
    margin-right: 20px;
}
}
@media (max-width:768px){
    /* sliding menu */
    .navbarRight{
        display: none;
    }
    .navbarLine{
        display: none;
    }
    .hamburgerContainer{
        display: block;
        margin-right: 30px;
        cursor: pointer;
        transition: all 0.2s ease;
        height: 33px;
        width: 33px;
    }
    .hamburgerContainer:hover{
        /* transform: scale(1.1); */
        opacity: 0.8;
    }
    .hamburgerContainer img{
        width: 100%;
    }
    .slidingMenuContainer{
        display: block;
        position: fixed;
        height: 100vh;
        width: 70%;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: rgba(102, 102, 102, 0.171);
        backdrop-filter: blur(18px);
        transform: translateX(3000px);
        transition: transform 0.2s ease;
    }
    .activeSlidingMenu{
        transform: translateX(0);
    }
    .closeIconContainer{
        position: absolute;
        top: 40px;
        right: 40px;
        height: 33px;
        width: 33px;
        cursor: pointer;
    }
    .closeIconContainer img{
        width: 100%;
    }
    .slidingMenu{
        display: flex;
        flex-direction: column;
        padding-top: 150px;
        padding-left: 50px;
        letter-spacing: 2.7px;
        font-family: var(--barlow-condensed);
        /* background-color: rgba(32, 32, 32, 0.061);
        backdrop-filter: blur(2px) ; */
        height: 100%;
    }
    .slidingMenu li{
        color: var(--white);
        padding: 25px 0;
        text-transform: uppercase;
        font-size:1.6rem;
    }
    .slidingMenuNumber{
        margin-right: 12px;
        font-weight: bold;
    }
}
@media (max-width:700px){
    /* home */
    .homeMain{
        width: 100%;
    }
    .innerLeftContainer{
        width:100%;
    }

}
@media (max-width:600px){
    /* home */
    .homeMainLeft h2{
        font-size: 1.4rem;
        margin: 0;
    }
    .homeMainLeft h1{
        font-size: 6rem;
    }
}
@media (max-width:500px){
    /* destination */
    .destinationComponentContainer{
        width: 90%;
    }
    .destinationComponentContainerLeft{
        min-width: 200px ;
        max-width: 200px;
        width: 100px;
    }
    .destinationComponentContainerLeft img{
        max-width: none ;
        min-width: 200px;  
        width: 100%;
    }
    .innerRightDestinationComponent{
        margin: 0;
        max-width: 100%;
        padding: 0;
    }
    .destinationTitle{
        font-size: 4rem;
        margin: 40px 0;
        max-width: 100%;
    }
    .destinationText{
        max-width: 100%;
    }
    .destinationLine{
        max-width: 100%;
    }
    .destinationInfoContainer{
        display: flex;
        flex-direction: column;
    }
    .destinationDistanceContainer{
        margin-bottom: 40px;
    }
    .destinationDistanceText, .destinationTravelTimeText{
        margin-bottom: 10px;
    }
    /* destination select */
    .destinationSelectContainer .destination{
        margin: auto;
    }
    /* page title */
    .pageTitleContainer{
        font-size: 1.2rem;
        left: 0;
        padding-left: 20px;
    }
    .pageTitleContainer .pageNumber{
        margin-right: 20px;
    }
    /* technology select */
    .selectCircle{
        height: 60px;
    width: 60px;
    font-size: 1.4rem;
    }
    /* technology */
    .technologyTitle{
        font-size: 2.4rem;
    }
    .technologyText{
        max-width: 90%;
    }
}
@media (max-width:400px){
    /* sliding menu */
    .slidingMenuContainer{
        width: 100%;
    }
     /* technology */
     .technologyTitle{
        font-size: 2.2rem;
    }
   
}